@media(min-width:951px){
    html{
      height: 100vh ;
      box-sizing: border-box;
       
    }
   
    .odin-logo{
        height: 80%;
    }
    .logo-shield p{
        
        font-size: 12rem;
    }
    
}

@media(max-width:950px){
    body{
        text-align: center;
    }
    
    .main-container{
        display: block;
    }

    .image-container{
        height: 50rem;
        position: relative;
        
    }

    .logo-shield{
        margin-top: 10%;
    }

    .form-header {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        padding-right:10px;
        padding-left: 10px;
       
    }
    .form-header p{
        font-size: 3.3rem;
    }

    form{
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-around;
        padding-bottom: 5rem;
        
    }

    .form-container{
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-rows: 250px 700px 200px; */
        
    }
    
    .logo-shield{
        position: absolute;
        top: 15%;
        width: 100%;
    }
    
}