/* 
Design decitions:  button color: #596D48

input border color: #E5E7EB


The other variation is the selected input, which should have a blue border and subtle box-shadow.
 This can be done with the :focus pseudo-class you’ve learned about in an earlier lesson.

*/

@font-face {
    font-family: 'Norse bold';
    src: url(/Norse-Bold.otf);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
    
    overflow-x: hidden;

    width: 100vw;
    height: 100vh;
    
}


.main-container{
   
    display: grid;
    
    grid-template-columns: 35fr 65fr;

    height: 100%;
    width: 100%;
}

.image-container{
    background-image: url("imgs/bg-img.jpg");
    background-size: cover;
    position: relative;
    
}

.logo-shield{
    height: 22rem;
    background-color: rgba(0, 0, 0, 0.39);
    margin-top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.odin-logo{
    height: 100%;
}
.logo-shield p{
    font-family: 'Norse bold';
    color: #fff;
    font-size: 16rem;
}

.image-container .image-info {
    color: #fff;
    position: absolute;
    display: block;
    width: 100%;
    bottom: 2rem;
    text-align: center;
    font-size: 1.6rem;
}
.image-container .image-info span{
    text-decoration: underline;
    font-style: italic;
}

/* Right side of the website...  */

.form-container{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    
}

.form-header{
 background-color: rgb(238, 238, 238);
}

.form-footer{
    background-color: rgb(238, 238, 238);
}


.btn{
    background-color: #596D48;
}